.thank-you{
  display: none;
}
#story-header{
  text-align: center;
  text-decoration: underline;
}

#logo {
  margin: 2%;
  border: 2px black;
  padding: 2%;
  float: left;

}
#reviews{
  background-color: black;
  color: red;
  font-style: italic;
  font-weight: bold;
  font-size: 150%;

}

#header{
  color: red;
  background-color: white;
}
#flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

h2 {
  text-align: center;
}

h3 {
  text-decoration: underline;
}
.story{
  background-color: #f4be1a;
}

body {
  background-image: url("../img/background1.jpeg")
}
